In [13]:
%%writefile db_1.html
<html>
<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="db_1.css">
</head>
<body>
<div class="header">
  <h1>I/O Dashboard</h1>
</div>

<!-- Plotly chart will be drawn inside this DIV -->
<div class="row">
<div id="graph_1" class="column" </div>
<script src="db_1.js"></script>
</div>

<div id="graph_2" class="column" </div>
<script src="db_2.js"></script>
</div>
</div>

</body>
</html>

Overwriting db_1.html

In [6]:
%%writefile db_1.js
var trace1 = {
type: 'bar',
x: [1, 2, 3, 4],
y: [5, 10, 2, 8],
marker: {
      color: '#C8A2C8',
      line: {
          width: 2.5
      }
  }
};

var data = [ trace1 ];

var layout = { 
  title: 'Responsive to window\'s size!',
  font: {size: 18},
  autosize: false,
  width: 500,
  height: 500,
  margin: {
    l: 50,
    r: 50,
    b: 100,
    t: 100,
    pad: 4}
};

var config = {responsive: true}

Plotly.newPlot('graph_1', data, layout, config );

Overwriting db_1.js

In [3]:
%%writefile db_2.js
const rand = () => Math.random();
var x = [1, 2, 3, 4, 5];
const new_data = (trace) => Object.assign(trace, {y: x.map(rand)});

// add random data to three line traces
var data = [
  {mode:'lines', line: {color: "#b55400"}}, 
  {mode: 'lines', line: {color: "#393e46"}},
  {mode: 'lines', line: {color: "#222831"}}
].map(new_data);

var layout = {
  title: 'User Zoom Persists<br>When uirevision Unchanged',
  uirevision:'true',
  autosize: false,
  width: 500,
  height: 500,
  margin: {
    l: 50,
    r: 50,
    b: 100,
    t: 100,
    pad: 4},
  xaxis: {autorange: true},
  yaxis: {autorange: true}
};

Plotly.react(graph_2, data, layout);

var myPlot = document.getElementById('graph_2');

var cnt = 0;
var interval = setInterval(function() {
  data = data.map(new_data);

  // user interation will mutate layout and set autorange to false
  // so we need to reset it to true
  layout.xaxis.autorange = true;
  layout.yaxis.autorange = true;
  
  // not changing uirevision will ensure that user interactions are unchanged
  // layout.uirevision = rand();
  
  Plotly.react(graph_2, data, layout);
  if(cnt === 100) clearInterval(interval);
}, 500);

Overwriting db_2.js

In [16]:
%%writefile db_1.css
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
    
.column
{   
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
}

body{
    background-color: #FFFFFF
}
/*remove standard list and bullet formatting from ul*/
.columns1 ul
{
    margin: 20px;
    padding: 0;
    list-style-type: none;
}

.header {
  padding: 6px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* correct webkit/chrome uneven margin on the first column*/
</style>

Overwriting db_1.css

In [2]:
import pymysql

def mysqlconnect():
	# To connect MySQL database
	conn = pymysql.connect(
		host='localhost',
		user='root',
		password = "hasib",
		db='IO-1',
		)
	
	cur = conn.cursor()
	cur.execute("select @@version")
	output = cur.fetchall()
	print(output)
	
	# To close the connection
	return conn#.close()

conn = mysqlconnect()

(('8.0.26',),)

In [3]:
curr = conn.cursor()
curr.execute("INSERT INTO TABLE_1 (`col_1`,`col_2`,`col_3`,`col_4`) VALUES ({}, {} , {} , {} )".format(1.0,2.0,3.0,4.0))
conn.commit()

In [4]:
curr.execute("""SELECT * FROM TABLE_1""")
data= curr.fetchall()
for tbl in data:
    print(tbl)

(1, '1.0', 2.0, 3.0, 4.0)
(2, '1.0', 2.0, 3.0, 4.0)
(3, '1.0', 2.0, 3.0, 4.0)
(4, '1', 2.0, 3.0, 4.0)
(5, '1.0', 2.0, 3.0, 4.0)
(6, '1.0', 2.0, 3.0, 4.0)
(7, '1.0', 2.0, 3.0, 4.0)
(8, '1.0', 2.0, 3.0, 4.0)

In [19]:
def get_schema_names():
    curr.execute("""SELECT SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA""")
    data= curr.fetchall()
    for tbl in data:
        print(tbl)

('mysql',)
('information_schema',)
('performance_schema',)
('sys',)
('sakila',)
('world',)
('io-1',)

In [20]:
get_table_names()
    curr.execute("""SELECT TABLE_NAME,TABLE_SCHEMA FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'IO-1'""")
    data= curr.fetchall()
    for tbl in data:
        print(tbl)

('table_1', 'io-1')

In [32]:
curr.execute("""SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'TABLE_1'""")
data= curr.fetchall()
for tbl in data:
    print(tbl)

('col_1',)
('col_2',)
('col_3',)
('col_4',)
('index',)